  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --branco-principal: black;
    --cinza-secundario: black;
    --botao-azul: #d3d3d3;
    --cor-de-fundo: #Fff;
    --fonte-principal: 'Segoe UI', 'Open Sans';
    --botao-azul-efeito: darkgray;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 100px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid darkgray;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.slider{
    width: 800px;
    height: 430px;
    border-radius: 50px;
    overflow: hidden;
    position:relative; top: -100px; left: 0px
}

.slides{
    width: 400%;
    height: 450px;
    display: flex;
}

.slides input{
    display: none;   
}

.slide{
    width: 48%;
    transition: 1.3s;
    margin-top: -20px;
}

.slides img{
    max-width: 100%;
    height: 450px;
    border-radius: 10%;
}

.navigation-manual{
    position:absolute;
    width: 400px;
    margin-top: -40px;
    left: 200px;
    display:flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid darkgray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.5s; 
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: darkgray;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -40%;
}

#radio3:checked ~ .first{
    margin-left: -105%;
}

#radio4:checked ~ .first{
    margin-left: -155%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 440px;
    justify-content: center;
    margin-top: 430px;
}

.navigation-auto div{
    border: 2px solid darkgray;
    padding: 5px;
    border-radius: 10px;
    transition: 1.5s;
}

.navigation-auto div:not(last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: darkgray;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: darkgray;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: darkgray;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: darkgray;
}

